NODE_ENV=
PORT=
HOST=
API_PREFIX_ROUTE=
ENCRYPTION_IV=
ENCRYPTION_SECRET=
ENCRYPTION_PASSWORD_SALT=
ENCRYPTION_PASSWORD_ITERATIONS=
JWT_SECRET=
JWT_LIFE_TIME=
JWT_RESET_TOKEN_LIFE_TIME=
JWT_VERIFICATION_TOKEN_LIFE_TIME=
POSTGRES_HOST=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
POSTGRES_PORT=
